*{
  padding: 0;
  margin: 0;
}

:root{
  --link-color:#E82A60;
}

li>a:hover{
  /* background-color: var(--link-color); */
  color:var(--link-color) !important;
  box-shadow: 1px 1px 2px rgba(253, 42, 105, 0.681);
  border-radius: 5px;
}

header{
  background-image: url('./images/6.jpeg');
  background-size: cover;
  background-position: right;
  position: relative;
}

.banner{
  position: absolute;
  bottom: -30px;
  color: var(--link-color);
  border: 5px solid white;
  border-radius: 10px;
  color:	#e8532a;
  background-color: antiquewhite;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; /* Need a specific value to work */
  
}

.title{
  background-color:rgb(228, 212, 190,0.4) ;
  
}

.title h1{
  color:white	;
  text-shadow: 2px 2px 2px rgb(207, 161, 101);
}

.title p{
  color:#0cff31;
  font-weight: 300;
}


.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card{
  border: none;
  
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container{
 background-image: url(./images/bg-1.jpeg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: bottom;
 background-size: 100% 300px;
}

.dish-name{
  color:#D85E00;
  font-size: 2.5rem;
}

.btn-outline-warning{
  background-color: #D85E00;
}


.opacity{
  background-color: rgba(234, 231, 227, 0.4);
}



footer{
  display: flex;
  justify-content: space-around;
  background-color: rgb(42, 39, 39);
  color:rgb(226, 218, 218);
  padding: 20px 5px;
}


footer .footer-img{
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 1px 7px rgb(148, 144, 144);
}
.carousel-inner{
  height: 400px;
  margin-bottom: 20px;
}